.gridContainer {
  min-height: 200px;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr auto;
  border: 1px solid var(--color-primary);
  border-radius: 12px;
}

.imageWrapper {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  aspect-ratio: 1 / 1;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.content {
  align-self: center;
}

.total {
  justify-self: end;
  grid-row: 2;
  font-weight: bold;
}
