.container {
  text-align: center;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  justify-items: center;
  gap: 1rem;
}

@container (max-width: 900px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@container (max-width: 480px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }
}
