.container {
  flex: 1;
  min-width: 0;
  text-align: center;
}

.container > * + * {
  margin-top: 1rem;
}

.gridContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
  gap: 2rem;
}

.title {
  text-align: left;
}
