.container {
  text-align: center;
}

.container > * + * {
  margin-top: 1rem;
}

.gridContainer {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}
