.container {
  text-align: center;
  grid-column: 2;
}

.container > * + * {
  margin-top: 1rem;
}

.gridContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
}

.title {
  text-align: left;
}
