.gridContainer {
  min-width: 0;
  padding: 0.5rem;
  display: grid;
  gap: 0.5rem;
  border: 1px solid white;
  border-radius: 8px;
}

.imageWrapper {
  aspect-ratio: 1 / 1;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.homeCard {
  max-width: 240px;
}
