.flexContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tag {
  padding: 4px 10px;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  border: 1px solid var(--color-primary);
  border-radius: 12px;
}

.button {
  padding: 10px;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  font-weight: bold;
  color: var(--color-primary);
  background-color: var(--color-contrast);
  cursor: pointer;
  transition:
    box-shadow 0.15s,
    background-color 0.15s;
}

.button:hover {
  background-color: #424242;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.button :global(.material-symbols-rounded) {
  font-size: 1rem;
}
