.container {
  text-align: center;
}

.button {
  display: inline-block;
  padding: 1rem;
  color: var(--color-contrast);
  background-color: var(--color-primary);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
