.container {
  text-align: center;
}

.container > * + * {
  margin-top: 1rem;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  justify-items: center;
  gap: 1rem;
}

.button {
  display: block;
  width: clamp(120px, 20vw, 200px);
  padding: 1rem;
  color: var(--color-contrast);
  background-color: var(--color-primary);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

@container (max-width: 900px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
    justify-items: stretch;
  }

  .button {
    width: 100%;
  }
}

@container (max-width: 480px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }
}
