.container {
  text-align: center;
}

.container > * + * {
  margin-top: 1rem;
}

.gridContainer {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 1rem;
}

.button {
  display: block;
  padding: 1rem;
  color: var(--color-contrast);
  background-color: var(--color-primary);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
