.container {
  margin: 0 auto;
  width: clamp(520px, 90vw, 1600px);
  container-type: inline-size;
}

.gridContainer {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto 1fr;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
