.outerContainer {
  width: 1000px;
  height: 300px;
  border: 12px solid #d39f77;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
