/* Resets */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-stack:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  --color-primary: #e4e4e4;
  --color-contrast: #212121;
}

body {
  min-height: 100vh;
  min-height: 100svh;
  font-family: var(--font-stack);
  color: var(--color-primary);
  background-color: var(--color-contrast);
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

/* Global rules */

.link:hover {
  text-decoration: underline;
}

.app {
  display: grid;
}

html {
  scrollbar-gutter: stable;
}
