.container {
  text-align: center;
}

.container > * + * {
  margin-top: 1rem;
}

.imagePlaceholder {
  width: 100%;
  height: 125px;
  background-color: var(--color-primary);
  border: none;
  border-radius: 12px;
}
