.gridContainer {
  padding: 0.5rem;
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 0.5rem;
  border: 1px solid white;
  border-radius: 8px;
  cursor: pointer;
}

.imageWrapper {
  height: 200px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
